# Copy to .env and fill with real values. .env is gitignored.
secret_key=change_me
db_use_ssl=false
container_timezone=UTC

auth_port=4400
services_port=4404

db_port_auth=4500
db_user_auth=change_me
db_password_auth=change_me
db_name_auth=postgres
db_secret_key_auth=change_me_16_or_24_or_32_chars

db_port_services=4504
db_user_services=change_me
db_password_services=change_me
db_name_services=postgres
